html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
/*#A2FAF7*/

header{
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    z-index: 1000;
}

a{
  color: #ff0000;
}

#globalArea{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: .2;
}

.globalArea{

}

.button_area{
    position: absolute;
    background-color: #fff;
/*    opacity: .9;*/
    color: #222;
    display: inline-block;
    font-size: 12pt;
    display: none;
    z-index: 100;
          top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}

.click1{
    background-color: #fff;
    color: #ff0000;
    position: absolute;
            -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
  bottom: 0;
  width: 100%;
  text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.click2{
    background-color: #fff;
    color: #ff0000;
    position: absolute;
            -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
  display: none;
  bottom: 0;
  width: 100%;
  text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.click3{
    background-color: #fff;
    color: #ff0000;
    position: absolute;
            -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
  display: none;
  bottom: 0;
  width: 100%;
  text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clickrestart{
    background-color: #fff;
    color: #ff0000;
    position: absolute;
            -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    display: none;
  bottom: 0;
  width: 500px;
  text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
      left: 50%;
  transform: translate(-50%, -50%);
}

.click_end{
    background-color: #fff;
    color: #ff0000;
    position: absolute;
            -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
  display: none;
  bottom: 0;
  width: 100%;
  text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info1, .info2, .info3{
    background-color: #fff;
    color: #ff0000;
    position: absolute;
    width: 250px;
    right: 0;
    margin-right: 5%;
    margin-top: 255px;
    border-top: solid 4px #ff0000;
    display: none;
    z-index: 100;
    text-align: center;
}

.click1:hover{
    cursor: pointer;
    background-color: #F15A22;
    color: #fff;
        -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    opacity: 1;
}

.click2:hover{
    cursor: pointer;
    background-color: #F15A22;
    color: #fff;
        -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    opacity: 1;
}

.click3:hover{
    cursor: pointer;
    background-color: #F15A22;
    color: #fff;
        -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    opacity: 1;
}

.click_end:hover{
    cursor: pointer;
    background-color: #F15A22;
    color: #fff;
        -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    opacity: 1;
}

.clickrestart:hover{
    cursor: pointer;
    background-color: #F15A22;
    color: #fff;
        -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    opacity: 1;
}

.image{
    position: absolute;
}

.next{
    right: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    margin-right: 25px;
}

.staging_vid{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: none;
    height: 100%;
    min-width: 100%;
    background-color: #fff;
}

.video{
    width: 100%;
    min-width: 100%;
}

@media only screen and (max-width: 750px) {

.info1, .info2, .info3{
    background-color: #fff;
    color: #ff0000;
    position: absolute;
    width: 250px;
    right: 0;
    margin-right: 5%;
    margin-top: 255px;
    border-top: solid 4px #ff0000;
    display: none;
    z-index: 100;
    text-align: center;
}

  }
}